.header {
  display: flex;
  justify-content: space-between;
  background: #f87171;
  align-items: center;
  padding: 1rem 2rem;
}

.header ul {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

li {
  list-style: none;
  font-size: 20px;
}

.cartCount {
  background: #7dd3fc;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
  z-index: 5;
  top: 35px;
  right: 52px;
  position: absolute;
  color: black;
}

.hide {
  display: none;
}
